* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1.title {
    color: red;
}

input[type="button"] {
    border: none;
}

div p {
    color: red;
}

a:hover,
a:active {
    color: red;
}

a:visited {
    color: blueviolet;
}

a:focus {
    color: yellow;
}

div>strong {
    color: blue;
}